/*Layout variables*/
$bg-color: rgb(240, 240, 240);

/*Header variables*/
$head-top-bottom-margin: 30px;

/*Placeholder variables and mixins*/
@mixin placeholder-style {
    font-style: italic;
    padding-left: 5px;
    color: darkgrey;
}

/*Employee card variables*/
$card-top-bottom-margin: 20px;