/*Employee card Styling*/
.employee-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: $card-top-bottom-margin;
    margin-bottom: $card-top-bottom-margin;
    border: 2px solid darkgray;
    border-radius: 4px;
    background-color: whitesmoke;
}

.employee-card:hover {
    box-shadow: 0px 0px 20px 2.5px lightgreen;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 65px;
}

h2,
p {
    text-align: center;
}

/*Media Query Styles at 768px and above*/
@media (min-width: 768px) {
    .employee-card {
        width: 350px;
    }

    img {
        display: inline-block;
        width: 95px;
        margin: 17.5px 0px 15px 15px;
    }

    .employee-text {
        float: right;
        margin-right: 15px;
        box-sizing: border-box;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.9rem;
    }
}