/*Modal Styling*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.profile {
    width: 300px;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 4px;
}

.modal-img {
    width: 150px;
    border-radius: 75px;
}