/*Modal Styling*/

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.profile {
    width: 300px;
    background-color: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 4px;
}

.x {
    width: 25px;
    float: right;
    margin-right: 15px;
}

.imgX::after {
    content: "";
    display: table;
    clear: both;
}

.modal-img {
    display: block;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 75px;
}