.search {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.search input {
    width: 250px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 4px;
}

/*Styling for the placeholder*/
::-webkit-input-placeholder { /*Edge*/ 
    @include placeholder-style;
  }
  
:-ms-input-placeholder { /*Internet Explorer 10-11*/
    @include placeholder-style;
  }
  
::placeholder {
    @include placeholder-style;
  }