/*Backgrounf Styles*/
body {
    background-color: $bg-color;
}

/*Media Query Styles at 768px and above*/
@media (min-width: 768px) {
    .employees {
        display: flex;
        flex-wrap: wrap;
    }
}

/*Media Query Styles at 768px and above*/
@media (min-width: 1768px) {
    .employees {
        width: 1768px;
        margin-left: auto;
        margin-right: auto;
    }
}